body {
    background-color: azure;
    color: #495E57;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

main {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
    
} 

.articletitle {
    background-color: #495E57;
    color: white;
    display: inline-flex;
}

header > a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #495E57;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;   
}

nav li {
    
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

li a {
    color: white;
}

li a:hover {
    background-color: #F4CE14;
    color: #495E57;
  }

  li a:focus {
    background-color: white;
    color: #495E57;
  }


section {
    display: flex;
}

#banner {
    background-color: #F4CE14;
    border-radius: 12px;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

#banner:hover {
    transform: scale(105%);
    transition: transform 0.5s;
}

article {
    flex: 1;
    padding-left: 3%;
    padding-right: 3%;

}

a {
    color: #495E57;
    font-weight: bold;
    
}

.i {
    border-radius: 12px;
    object-fit: contain;
    width: 100%;
    margin-top: 2rem;

}

.i:hover:hover{
    transform: scale(110%);
    transition: transform 0.5s;
}


button {  
    background-color: #F4CE14;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 24px;
    border: #495E57 2px solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

#mainlogo { 
    object-fit: contain;
    width: 33%;
    
}

  #seclogo {   
    max-width: 10%;
}

footer {
    display: flex;
    background-color: #F4CE14;
    padding: 2rem;
}

footer div {
    flex: 1;
}

p {
    line-height: 1.5;
}

div p {
    text-align: right;
    padding-top: 10%;
}